.left{
    -fx-background-color:#ffffff;
}
.name{
    -fx-text-fill:black;
}
.left .glyph-icon{
   -fx-fill:black;
}

.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
}
.title-pane {
  -fx-background-color: #ffffff;

}

.titled-pane > .title {
  -fx-background-color: #ffffff;
  -fx-text-fill: black;
}

.titled-pane:focused {
-fx-background-color: #ffffff;
  -fx-text-fill: black;
}
.titled-pane:focused > .title {
  -fx-background-color: #ffffff;
  -fx-text-fill: black;
}

.menu {
  -fx-background-color: #ffffff;
  -fx-text-fill: black;
}
.menu:hover {
  /*-fx-background-color : #10165F;*/
  -fx-background-color: #8aa1e7;
  -fx-text-fill: white;
}
.menu:hover .glyph-icon {
    -fx-fill: #ebe8f9;
 }
 .menu:hover .name {
    -fx-text-fill: white;
 }

.menu:pressed {
  -fx-background-color: #03dac6;
  -fx-text-fill: black;
}
.menu:pressed .glyph-icon{
  -fx-fill: black;
}
.menu:pressed .label{
  -fx-text-fill: black;
}
