.tablebutton{
   -fx-font-size: 15;
   -fx-font-weight:bold;
       -fx-text-fill: #ffffff;
       -fx-background-color:#6200ee;
       -fx-background-color:#107dac;
        -fx-border-radius:10px;
        -fx-background-radius:10px;
        -fx-border-color:#107dac;
}
.tablebutton:hover{
    -fx-background-color:white;
         -fx-text-fill: #107dac;
         -fx-border-color:#107dac;
         -fx-border-radius:10px;
         -fx-background-radius:10px;
   }
 .tablebutton:pressed{
   -fx-text-fill: #ffffff;
        -fx-background-color:#005073;
 }